<!DOCTYPE html> 
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Lincoln Middle School - Contact us</title>
	{{> meta}}

    <link rel="stylesheet" href="/css/main.min.css">
    <script src="/js/vendor/modernizr.min.js"></script>
</head>
<body>
	<p>Hello world this is the projects page!</p>

	<header>
		<nav>
			<ul>
				<li><a href="Home.html">Home</a></li>
				<li><a href="Shop">Shop</a></li>
				<li><a href="Projects.html">Projects</a></li>
				<li><a href="Contact.html">Contact</a></li>
				<li><a href="Blog.html">Blog</a></li>
			</ul>
		</nav>
	</header>

    <script src="/js/vendor/jquery-1.12.0.min.js"></script>
    <script src="/js/main.min.js"></script>

	<br>

    <button class="contact-social-btn"><a href="">YouTube</a></button>
    <button class="contact-social-btn"><a href="">Twitter</a></button>
    <button class="contact-social-btn"><a href="">Venmo</a></button>

    {{> ga}}

    <footer>
    	Copyright Global Ties and Lincoln Middle School
    </footer>
</body>
</html>