<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Lincoln Middle School Garden Website</title>

        {{> meta}}

        <link rel="stylesheet" href="/css/main.min.css">
        <script src="/js/vendor/modernizr.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        {{> navbar}}

        <h5>Links to other pages</h5>
        <a href="/">Index</a>
        <a href="/store.html">Store</a>
        <a href="/projects.html">Projects</a>
        <a href="/contact.html">Contact</a>

        <script src="/js/vendor/jquery-1.12.0.min.js"></script>
        <script src="/js/main.min.js"></script>

        {{> ga}}
    </body>
</html>
