<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>

	{{> meta}}

	<title>Lincoln Middle School - Projects</title>

    <link rel="stylesheet" href="/css/main.min.css">
    <script src="/js/vendor/modernizr.min.js"></script>
</head>
<body>
    {{> navbar}}
	<p>Hello world this is the projects page!</p>

    <h5>Links to other pages</h5>
    <a href="/store.html">Store</a>
    <a href="/projects.html">Projects</a>
    <a href="/contact.html">Contact</a>

    <script src="/js/vendor/jquery-1.12.0.min.js"></script>
    <script src="/js/main.min.js"></script>

    {{> ga}}
</body>
</html>